subprocess
cv2
threading
pyautogui
notification
speech_recognition
psutil
cvzone
numpy
math
time
json
mediapipe
pyautogui
enum
ctypes
comtypes
pycaw
google.protobuf.json_format
screen_brightness_control
